<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationId</key>
	<string>IvlXqfH5pNFIA3eYOR2zKiiB7uxYL6c89WaPgO0C</string>
	<key>clientKey</key>
	<string>ywB1r9JPB3qIpBxNfScP4umQgQaRJvH1UFltgdKg</string>
</dict>
</plist>
